 * {
    font-family: 'Poppins', sans-serif;
 }

 .navbar {
    .nav-link {
        color: #888888;
        &.active {
            color: #FFF !important;
        }
        &:hover {
            color: #FFF;
        }
    }
    .btn-login {
        border: 1px solid #888888;
        color: #888888;
        border-radius: 30px;
        height: 35px;
    }
 }

 header {
    width: 100%;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
    color: #FFF;
    border: 1px solid #2c2c2c;
    border-radius: 9px;

    .desc {
        color: #888888;
        font-size: 14px;
    }
    .search {
        width: 300px;
        height: 50px;
        padding: 15px;
        border-radius: 25px;
        border: 0;
        background-color: #292929;
        &::placeholder {
            color: #888888;
        }
    }
    .category {
        text-decoration: none;
        color: #888888;
        padding: 15px 25px;
        &.active {
            background-color: #2064ED;
            color: #FFF;
            border-radius: 25px;       
        }
        &:hover {
            background-color: #2064ED;
            color: #FFF;
            border-radius: 25px;
        }
    }
 }
    .articles {
        margin-top: -63px;

        .title {
            color: #FFF;
            font-weight: bold;
            font-size: 20px;
            padding-top: 10px;
        }
        .desc{
            margin-bottom: -10px;
            font-size: 14px;
        }
        .card {
           height: 485px;
           background-color: #292929;
           color: #888888;
           border-radius: 20px;
           .btn{
               border: 1px solid #888888;
               width: 200px;
               color: #888888;
               border-radius: 20px;
               &:hover{
                   background-color: #2064ED;
                   color: #FFF;
                   border: 1px solid #2064ED;
               }
           }
        }
     }

 footer {
    background-image: url('../images/background-footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90px;
    margin-top: 100px;
    ul {
        list-style: none;
        display: inline;
        li {
            list-style: none;
            display: inline;
            a {
                display: inline-block;
                color: #888888;
                text-decoration: none;
            }
        }
    }
    .gambar {
        margin-right: 247px;
    }
    .copy {
        color: #888888;
    }
 }